{% extends 'base.html' %}


{% block content %}
  <div class="content">
    <h1>Car Detail</h1>
    <br>

    <h3>Manufacturer</h3>
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Name</strong>: {{ car.manufacturer.name }}
        </li>
        <li class="list-group-item">
          <strong>Country</strong>: {{ car.manufacturer.country }}
        </li>
      </ul>
    </div>
    <br>
    <h3>Drivers</h3>
    {% for driver in car.drivers.all %}
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Username:</strong>
            <a href="{% url 'taxi:driver-detail' pk=driver.id %}">{{ driver.username }}</a>
          </li>
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
