<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  
  </span>
</div>


<form method="GET" name="pagination">
  <label for="pagination">To page</label>
  <input type="number" id="pagination" name="page"
         min="1" max="{{ paginator.num_pages }}">
  <input type="submit" value="Submit">
</form>
